# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio specific files
.vs/
3d/Sablon/x64/Debug/Sablon.ilk
3d/Sablon/x64/Debug/Sablon.ilk
3d/Sablon/x64/Debug/Sablon.tlog/link.read.1.tlog
3d/Sablon/x64/Debug/vc143.idb
3d/Sablon/x64/Debug/vc143.idb
3d/Sablon/x64/Debug/vc143.pdb
3d/x64/Debug/Sablon.pdb
3d/Sablon/x64/Debug/vc143.pdb
3d/x64/Debug/Sablon.pdb
3d/Sablon/x64/Debug/vc143.pdb
3d/Sablon/x64/Debug/vc143.idb
3d/Sablon/x64/Debug/Sablon.ilk
